<h1>P치gina de Alem치n</h1>
<h2>Sin implementar</h2>
{{! en la plantilla hay un codigo que introduce esta seccion }}
{{#section 'aviso'}}
    <b>Esta p치gina es la futura entrada a al aplicaci칩n. Por el momento visita alguna de las siguiente</b>
{{/section}}
<ul>
    <li><a href="/mead">Meadown</a></li>

</ul>